<div class = "m-5">
  <button class = "btn btn-outline-dark" onclick="abrirModal()">Crear nuevo club</button>

  <%= render 'shared/modalclub' %>

  <div class="table-responsive">
    <table class="table mx-auto w-50 shadow">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Capacidad</th>
          <th>Encargado</th>
          <th>Description</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @clubs.each do |club| %>
          <tr>
            <td><%= club.name %></td>
            <td><%= club.capacity %></td>
            <td><%= club.user.name %></td>
            <td><%= club.description %></td>
            <td>
                <%= form_for club, url: clubs_delete_path(club), method: :delete do |f| %>
                  <%= f.button class: "btn btn-danger", title: "Eliminar", onclick: "return confirm('¿Estás seguro que deseas eliminar a #{club.name}?')" do %>
                    <i class="fas fa-trash">Eliminar</i>
                  <% end %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  function abrirModal() {
    $('#crear-club-modal').modal('show');
    $.ajax({
      url: '<%= new_club_modal_path %>',
      success: function(data) {
        $('#crear-club-modal .modal-body').html(data);
        $('.close').on('click', function() {
          $('#crear-club-modal').modal('hide');
        });


      }
    });
  }
</script>


