<header>
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %>
  </nav>
</header>

<% if @users.any? %>
  <%= form_tag admin_index_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
    <input class="form-control mr-sm-2" type="text" placeholder="Numero de cuenta" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Numero de Cuenta</th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% unless user.role == "admin" %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.nacount %></td>
            <td><%= user.email %></td>
            <td>
              <%= form_for user, url: admin_update_path(user), method: :patch do |f| %>
                <%= f.select :role, options_for_select(['encargado', 'estudiante'], user.role), { prompt: "Seleccionar un rol" }, class: "form-control", onchange: "this.form.submit()" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= flash[:notice] %></p>
  <%= form_tag admin_index_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ver todos los usuarios</button>
  <% end %>
<% end %>
