<div class="d-flex justify-content-center m-5">
  <div class="container">
    <button class="btn btn-outline-dark mb-4" onclick="abrirModal()">Crear nuevo club</button>
    <%= render 'shared/modalclub' %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @clubs.where(user_id: current_user.id).each do |club| %>
        <div class="col">
          <%= link_to club_path(club), class: "card-link" do %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= club.name %></h5>
                <p class="card-text">Capacidad: <%= club.capacity %></p>
                <p class="card-text">Descripción: <%= club.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function abrirModal() {
    $('#crear-club-modal').modal('show');
    $.ajax({
      url: '<%= new_club_modal_path %>',
      success: function(data) {
        $('#crear-club-modal .modal-body').html(data);
        $('.close').on('click', function() {
          $('#crear-club-modal').modal('hide');
        });
      }
    });
  }
</script>
