<div class="d-flex justify-content-center align-items-center bg-img" style="height: 100vh;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-500 bg-login p-5 text-black text-center rounded" }) do |f| %>
    <h2>Log in</h2>
    <div class="form-group">
      <%= f.label :email, class: "d-block" %>
      <div>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :password, class: "d-block" %>
      <div>
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions py-2">
      <%= f.submit "Log in", class: "btn btn-outline-dark" %>
    </div>

    <%= render "devise/shared/links" %>

  <% end %>
</div>