<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

     <%= javascript_include_tag 'main' %>

  </head>

  <body>
    <header>
      <% if defined?(current_user) && current_user.present? %>
        <%= case current_user.role
            when "admin"
              render 'shared/admin'
            when "encargado"
              render 'shared/encargado'
            when "estudiante"
              render 'shared/estudiante'
            end %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
